{{!-- The following component displays Ember's default welcome message. --}}
<div class="ui fluid container">
  <!-- app/templates/application.hbs -->
    {{outlet}}
</div>

{{!-- Feel free to remove this! --}}
